<form id="login" method="post">
    <div>
        <input type="email" name="email" value="" placeholder="Tu email">
        <input type="password" name="password" value="" placeholder="Tu contraseña">
        <button id="button_login">Login</button>
    </div>              
</form>

<script>
    const formLogin = document.querySelector('#login')
    const formData = new FormData(formLogin)
    
    formLogin.addEventListener('submit', event => {
        event.preventDefault()
        fetch('/api/signin',{
            method: 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(data => {
            console.log(data)
            localStorage.setItem('token',data.token)
        })
    })
</script>

